# Module 1 Intro to Python 
---

In [2]:
# Comments are marked by a "#"

In [9]:
# End of a line terminates a statement
# you can continue an operation by using the "\"
x = 1 + 2 + 3 + 4 +\
    5 + 6 + 7 + 8
print(x)
# you can also use ()
y = (1 + 2 + 3 + 4 + 
     5 + 6 + 7 + 8)
print(y)

36
36

In [10]:
# semicolon ends a statment
x = 4; y = 12; 
print(x); print(y);

4
12

In [14]:
# Indentation Matters
# In Python, code blocks are denoted by indentation:
# In Python, indented code blocks are always preceded by a colon (:) on the previous line.
midpoint = 5
lower = []; upper = []
for i in range(10):
    if i < midpoint:
        lower.append(i)
    else:
        upper.append(i)

In [15]:
# parenthesis () are for grouping in mathematical operations or calling a function
x = (3+4)*2 
print(x)

14

In [16]:
# Python variables are pointers 
x = 4

In [19]:
# pointing
x = [1, 5, 3]
y = x
print(y)
x.append(4) # append 4 to the list pointed to by x
print(y) # y's list is modified as well!

x = "something else" # changing x does not change y 
print(x) 
print(y)
y = x # until you point to the new x 
print (y)

[1, 5, 3]
[1, 5, 3, 4]
something else
[1, 5, 3, 4]
something else

In [21]:
# types 
x = 4 #integer

x = 'hello'#string

x = 3.14159  #float 

x = True  #boolean

Python has types; however, the types are linked not to the variable names but *to the objects themselves*.

In object-oriented programming languages like Python, an *object* is an entity that contains data along with associated metadata and/or functionality.
In Python everything is an object, which means every entity has some metadata (called *attributes*) and associated functionality (called *methods*).
These attributes and methods are accessed via the dot syntax.

For example, before we saw that lists have an ``append`` method, which adds an item to the list, and is accessed via the dot ("``.``") syntax:

## Arithmetic Operations
Python implements seven basic binary arithmetic operators, two of which can double as unary operators.
They are summarized in the following table:

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |
| ``+a``       | Unary plus     | ``a`` unchanged (rarely used)                          |

These operators can be used and combined in intuitive ways, using standard parentheses to group operations.
For example:

In [24]:
# addition, subtraction, multiplication
x = (4 + 8.3) * (6 - 3)
print(x)

36.900000000000006

In [25]:
a = 12
a += 6  # equivalent to a = a + 6
print(a)

18

There is an augmented assignment operator corresponding to each of the binary operators listed earlier; in brief, they are:

|||||
|-|-|
|``a += b``| ``a -= b``|``a *= b``| ``a /= b``|
|``a //= b``| ``a %= b``|``a **= b``|``a &= b``|
|<code>a &#124;= b</code>| ``a ^= b``|``a <<= b``| ``a >>= b``|

Each one is equivalent to the corresponding operation followed by assignment: that is, for any operator "``■``", the expression ``a ■= b`` is equivalent to ``a = a ■ b``, with a slight catch.
For mutable objects like lists, arrays, or DataFrames, these augmented assignment operations are actually subtly different than their more verbose counterparts: they modify the contents of the original object rather than creating a new object to store the result.

## Comparison Operations

Another type of operation which can be very useful is comparison of different values.
For this, Python implements standard comparison operators, which return Boolean values ``True`` and ``False``.
The comparison operations are listed in the following table:

| Operation     | Description                       || Operation     | Description                          |
|---------------|-----------------------------------||---------------|--------------------------------------|
| ``a == b``    | ``a`` equal to ``b``              || ``a != b``    | ``a`` not equal to ``b``             |
| ``a < b``     | ``a`` less than ``b``             || ``a > b``     | ``a`` greater than ``b``             |
| ``a <= b``    | ``a`` less than or equal to ``b`` || ``a >= b``    | ``a`` greater than or equal to ``b`` |

These comparison operators can be combined with the arithmetic and bitwise operators to express a virtually limitless range of tests for the numbers.
For example, we can check if a number is odd by checking that the modulus with 2 returns 1:

In [26]:
# 25 is odd
25 % 2 == 1

True

In [27]:
# 66 is odd
66 % 3 == 1

False

We can string-together multiple comparisons to check more complicated relationships:

In [28]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

## Boolean Operations
When working with Boolean values, Python provides operators to combine the values using the standard concepts of "and", "or", and "not".
Predictably, these operators are expressed using the words ``and``, ``or``, and ``not``:

In [29]:
x = 4
(x < 6) and (x > 2)

True

In [30]:
(x > 10) or (x % 2 == 0)

True

In [31]:
not (x < 6)

False

## Identity and Membership Operators

Like ``and``, ``or``, and ``not``, Python also contains prose-like operators  to check for identity and membership.
They are the following:

| Operator      | Description                                       |
|---------------|---------------------------------------------------|
| ``a is b``    | True if ``a`` and ``b`` are identical objects     |
| ``a is not b``| True if ``a`` and ``b`` are not identical objects |
| ``a in b``    | True if ``a`` is a member of ``b``                |
| ``a not in b``| True if ``a`` is not a member of ``b``            |

In [32]:
# identity
a = [1, 2, 3]
b = a
a is b

True

In [33]:
# membership
1 in [1, 2, 3]

True

## Module 2 Data Structures
---

When discussing Python variables and objects, we mentioned the fact that all Python objects have type information attached. Here we'll briefly walk through the built-in simple types offered by Python.
We say "simple types" to contrast with several compound types, which will be discussed in the following section.

Python's simple types are summarized in the following table:

<center>**Python Scalar Types**</center>

| Type        | Example        | Description                                                  |
|-------------|----------------|--------------------------------------------------------------|
| ``int``     | ``x = 1``      | integers (i.e., whole numbers)                               |
| ``float``   | ``x = 1.0``    | floating-point numbers (i.e., real numbers)                  |
| ``complex`` | ``x = 1 + 2j`` | Complex numbers (i.e., numbers with real and imaginary part) |
| ``bool``    | ``x = True``   | Boolean: True/False values                                   |
| ``str``     | ``x = 'abc'``  | String: characters or text                                   |
| ``NoneType``| ``x = None``   | Special object indicating nulls                              |

We'll take a quick look at each of these in turn.

## String Type
Strings in Python are created with single or double quotes:

In [34]:
message = "what do you like?"
response = 'spam'
print(message)
print(response)

what do you like?
spam

In [35]:
# length of string
len(response)

4

In [36]:
# Make upper-case. See also str.lower()
response.upper()

'SPAM'

In [37]:
# Capitalize. See also str.title()
message.capitalize()

'What do you like?'

In [39]:
# concatenation with +
message + "umm " + response

'what do you like?umm spam'

In [40]:
# multiplication is multiple concatenation
5 * (' ' + message)

' what do you like? what do you like? what do you like? what do you like? what do you like?'

In [41]:
# Access individual characters (zero-based indexing)
z = response[0]
y = response[1]
x = response[2]
w = response[3]

print(w)
print(y)

m
p

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

## Built in Data Structures

We have seen Python's simple types: ``int``, ``float``, ``complex``, ``bool``, ``str``, and so on.
Python also has several built-in compound types, which act as containers for other types.
These compound types are:

| Type Name | Example                   |Description                            |
|-----------|---------------------------|---------------------------------------|
| ``list``  | ``[1, 2, 3]``             | Ordered collection                    |
| ``tuple`` | ``(1, 2, 3)``             | Immutable ordered collection          |
| ``dict``  | ``{'a':1, 'b':2, 'c':3}`` | Unordered (key,value) mapping         |
| ``set``   | ``{1, 2, 3}``             | Unordered collection of unique values |

As you can see, round, square, and curly brackets have distinct meanings when it comes to the type of collection produced.
We'll take a quick tour of these data structures here.

In [42]:
## lists
X = [2, 3, 5, 7]
print(X)

[2, 3, 5, 7]

In [43]:
# Length of a list
len(X)

4

In [44]:
# Append a value to the end
X.append(17)
X

[2, 3, 5, 7, 17]

In [45]:
# Addition concatenates lists
X + [13, 17, 19]

[2, 3, 5, 7, 17, 13, 17, 19]

In [46]:
# sort() method sorts in-place
L = [2, 5, 1, 6, 3, 4]
L.sort()

L

[1, 2, 3, 4, 5, 6]

Where indexing is a means of fetching a single value from the list, slicing is a means of accessing multiple values in sub-lists. It uses a colon to indicate the start point (inclusive) and end point (non-inclusive) of the sub-array. For example, to get the first three elements of the list, we can write:

In [47]:
L = [2, 3, 5, 7, 11]
L = L + [14, 15, 16]
print(L)

[2, 3, 5, 7, 11, 14, 15, 16]

In [48]:
L[5]

14

In [49]:
L[-2]

15

In [50]:
L[0:5]

[2, 3, 5, 7, 11]

Finally, it is possible to specify a third integer that represents the step size; for example, to select every second element of the list, we can write:

In [51]:
L[::2]  # equivalent to L[0:len(L):2]

[2, 5, 11, 15]

A particularly useful version of this is to specify a negative step, which will reverse the array:

In [52]:
L[::-1]

[16, 15, 14, 11, 7, 5, 3, 2]

# Lists

Data Structure:
    
A data structure is a collection of data elements (such as numbers or characters—or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".

A list is 

- One of the Sequence Data structure
- Lists are collection of items (Strings, integers or even other lists)
- Lists are enclosed in [ ]
- Each item in the list has an assigned index value.
- Each item in a list is separated by a comma
- Lists are mutable, which means they can be changed.

In [9]:
emptyList = []

lst = ['one', 'two', 'three', 'four'] # list of strings

lst2 = [1, 2, 3, 4] #list of integers

lst3 = [[1, 2], [3, 4]] # list of lists

lst4 = [1, 'ramu', 24, 1.24] # list of different datatypes

print(lst4)

[1, 'ramu', 24, 1.24]

In [10]:
lst = ['one', 'two', 'three', 'four']

#find length of a list
print(len(lst))

4

In [11]:
lst = ['one', 'two', 'three', 'four']

lst.append('five') # append will add the item at the end

print(lst)

['one', 'two', 'three', 'four', 'five']

In [12]:
#syntax: lst.insert(x, y) 

lst = ['one', 'two', 'four']

lst.insert(2, "three") # will add element y at location x

print(lst)

['one', 'two', 'three', 'four']

In [13]:
#syntax: lst.remove(x) 

lst = ['one', 'two', 'three', 'four', 'two']

lst.remove('two') #it will remove first occurence of 'two' in a given list

print(lst)

['one', 'three', 'four', 'two']

In [14]:
#del to remove item based on index position

lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
print(lst)

#or we can use pop() method
a = lst.pop(1)
print(a)

print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

The easiest way to sort a List is with the sorted(list) function. 

That takes a list and returns a new list with those elements in sorted order. 

The original list is not changed. 

The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), 
makes it sort backwards.

In [15]:
#create a list with numbers
numbers = [3, 1, 6, 2, 8]

sorted_lst = sorted(numbers)

print("Sorted list :", sorted_lst)

#original list remain unchanged
print("Original list: ", numbers)

Sorted list : [1, 2, 3, 6, 8]
Original list:  [3, 1, 6, 2, 8]

Spitting a string

In [16]:
#let's take a string

s = "one,two,three,four,five"

slst = s.split(',')

print(slst)

['one', 'two', 'three', 'four', 'five']

In [17]:
s = "This is applied AI Course"

split_lst = s.split() # default split is white-character: space or tab

print(split_lst)

['This', 'is', 'applied', 'AI', 'Course']

In [18]:
# List Count
numbers = [1, 2, 3, 1, 3, 4, 2, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(3))

2
2

List comprehensions provide a concise way to create lists.

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [19]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
#example

lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print(new_lst)


#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [21]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']

## Tuples
Tuples are in many ways similar to lists, but they are defined with parentheses rather than square brackets:

immutable- size and contents cannot change

In [53]:
t = (1, 2, 3)

Tuples are often used in a Python program; a particularly common case is in functions that have multiple return values.
For example, the ``as_integer_ratio()`` method of floating-point objects returns a numerator and a denominator; this dual return value comes in the form of a tuple:

In [54]:
x = 0.125
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [24]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

In [25]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [26]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

In [27]:
#get the smallest element in a tuple
print(min(t))

1

In [28]:
#get sum of elments in the tuple
print(sum(t))

23

## Dictionaries
Dictionaries are extremely flexible mappings of keys to values, and form the basis of much of Python's internal implementation.
They can be created via a comma-separated list of ``key:value`` pairs within curly braces:

In [55]:
numbers = {'one':1, 'two':2, 'three':3}

In [56]:
# Access a value via the key
numbers['two']

2

In [1]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#get name
print(my_dict['name'])

satish

In [2]:
#another way of accessing key
print(my_dict.get('address'))

guntur

In [57]:
# Set a new key:value pair
numbers['ninety'] = 90
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

In [4]:
#create a dictionary
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}
print(my_dict)
#remove a particular item
print(my_dict.pop('age'))

print(my_dict)

{'name': 'satish', 'age': 27, 'address': 'guntur'}
27
{'name': 'satish', 'address': 'guntur'}

In [5]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.keys()) #return a new view of the dictionary keys

dict_keys([2, 3, 4, 5])

In [6]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.values()) #return a new view of the dictionary values

dict_values([4, 9, 16, 25])

In [7]:
#Dict comprehensions are just like list comprehensions but for dictionaries

d = {'a': 1, 'b': 2, 'c': 3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [8]:
#We can also perform operations on the key value pairs
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
d = {k + 'c':v * 2 for k, v in d.items() if v > 2}
print(d)

{'cc': 6, 'dc': 8, 'ec': 10}

## Sets

The fourth basic collection is the set, which contains unordered collections of unique items.
They are defined much like lists and tuples, except they use the curly brackets of dictionaries:

A set is 

- A set is an unordered collection of items. Every element is unique (no duplicates).
- The set itself is mutable. We can add or remove items from it.
- Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [58]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [59]:
# union: items appearing in either
primes | odds      # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [60]:
# intersection: items appearing in both
primes & odds             # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [61]:
# difference: items in primes but not in odds
primes - odds           # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [62]:
# symmetric difference: items appearing in only one set
primes ^ odds                     # with an operator
primes.symmetric_difference(odds) # equivalently with a method

{1, 2, 9}

In [22]:
s = {1, 3}
#add list and set
s.update([8, 9], {10, 2, 3})
print(s)

{1, 2, 3, 8, 9, 10}

In [23]:
#remove an element 
s.remove(2)

print(s)

{1, 3, 8, 9, 10}

# Module 3 Control Flow
---

# Control Flow

*Control flow* is where the rubber really meets the road in programming.
Without it, a program is simply a list of statements that are sequentially executed.
With control flow, you can execute certain code blocks conditionally and/or repeatedly: these basic building blocks can be combined to create surprisingly sophisticated programs!

Here we'll cover *conditional statements* (including "``if``", "``elif``", and "``else``"), *loop statements* (including "``for``" and "``while``" and the accompanying "``break``", "``continue``", and "``pass``").

## Conditional Statements: ``if``-``elif``-``else``:
Conditional statements, often referred to as *if-then* statements, allow the programmer to execute certain pieces of code depending on some Boolean condition.
A basic example of a Python conditional statement is this:

In [30]:
x = 17
if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

17 is positive

## ``for`` loops
Loops in Python are a way to repeatedly execute some code statement.
So, for example, if we'd like to print each of the items in a list, we can use a ``for`` loop:

In [31]:
for N in [2, 3, 5, 7]:
    print(N, end=' ') # print all on same line

2 3 5 7

## ``while`` loops
The other type of loop in Python is a ``while`` loop, which iterates until some condition is met:

In [32]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

## ``break`` and ``continue``: Fine-Tuning Your Loops
There are two useful statements that can be used within loops to fine-tune how they are executed:

- The ``break`` statement breaks-out of the loop entirely
- The ``continue`` statement skips the remainder of the current loop, and goes to the next iteration

These can be used in both ``for`` and ``while`` loops.

Here is an example of using ``continue`` to print a string of odd numbers.
In this case, the result could be accomplished just as well with an ``if-else`` statement, but sometimes the ``continue`` statement can be a more convenient way to express the idea you have in mind:

In [33]:
for n in range(20):
    # if the remainder of n / 2 is 0, skip the rest of the loop
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

In [34]:
a, b = 0, 1
amax = 100
L = []

while True:
    (a, b) = (b, a + b)
    if a > amax:
        break
    L.append(a)

print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## Functions

A function is defined with the def statement. Let’s do a doubling function.

In [35]:
# Here's my function

def double(x):
    "This function multiplies its argument by two."
    return x*2

In [36]:
print(double(8), double(4.2), double("jackson")) # It even happens to work for strings!

16 8.4 jacksonjackson